@model ContactViewModel

@{
    ViewBag.Title = "Danh sách liên hệ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="box_header">
    <h2>@ViewBag.Title</h2>
    <div class="list-group list-group-horizontal">
        <a class="btn quick-link mr-2" asp-action="Index" asp-controller="Vcms"><i class="fal fa-home mr-2"></i>Về trang chính</a>
    </div>
</div>
<div class="box_content">
    <div class="form-search-list">
        <form action="@Url.Action("ListContact")" method="get" class="ml-0">
            <p>
                Tìm theo số điện thoại @Html.TextBoxFor(a => a.Name, new { @class = "ml-1 w300" })
                <button type="submit" class="ml-1 btn-search">Tìm kiếm</button>
            </p>
        </form>
    </div>
    <p>Có tổng số <strong>@Model.ListContact.TotalItemCount</strong> số điện thoại liên hệ</p>
    <table class="list_table tablecenter table-striped">
        <tbody>
            <tr>
                <th style="width: 50px">STT</th>
                <th style="width: 100px">Ngày gửi</th>
                <th style="width: 150px">Họ và tên</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Địa chỉ</th>
                <th style="width: 400px">Lời nhắn</th>
                <th style="width: 60px"></th>
            </tr>
            @{
                var i = (Model.ListContact.PageNumber - 1) * Model.ListContact.PageSize + 1;
            }
            @foreach (var contact in Model.ListContact)
            {
                <tr data-id="@contact.Id">
                    <td>@(i++)</td>
                    <td>@contact.CreatedAt.ToString("dd/MM/yyyy - HH:mm")</td>
                    <td>
                        <strong>@contact.FullName</strong>
                    </td>
                    <td>@contact.PhoneNumber</td>
                    <td>@contact.Email</td>
                    <td>@contact.Address</td>
                    <td>@contact.Body</td>
                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            <a href="javascript:;" onclick="deletecontact('@contact.Id')">Xóa</a>
                        }
                    </td>
                </tr>
            }
            @if (Model.ListContact.PageCount > 1)
            {
                <tr>
                    <td colspan="7">@Html.PagedListPager(Model.ListContact, page => Url.Action("ListContact", new { page, name = Model.Name }))</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts
    {
    <script type="text/javascript">
        function deletecontact(id) {
            if (confirm("Bạn có chắc chắn xóa liên hệ này không?")) {
                $.post("/Contact/DeleteContact", { contactId: id }, function (data) {
                    if (data) {
                        $.toast({
                            text: 'Xóa liên hệ thành công',
                            position: 'bottom-right',
                            icon: 'success',
                        })
                        $("tr[data-id='" + id + "']").fadeOut();
                    }
                    else {
                        $.toast({
                            text: 'Quá trình thực hiện không thành công. Hãy thử lại',
                            icon: 'error',
                        })
                    }
                });
            }
        }
    </script>
}