@model HomeViewModel
@inject IAppService AppService

@{
    ViewData["Title"] = AppService.Config.Title;
    ViewData["Description"] = AppService.Config.Description;
    ViewData["Canonical"] = Url.Action("Index", "Home", null, protocol: Context.Request.Scheme);

    if (!string.IsNullOrEmpty(AppService.Config.AboutImage))
    {
        ViewData["ImageShare"] = Context.Request.Scheme + "://" + Context.Request.Host + PathSystem.Combine("/contents/system/", AppService.Config.AboutImage);
    }

    var i = 1;
}

<h1 class="d-none">@ViewData["Title"]</h1>

@if (Model.Banner.Any())
{
    <div class="banner mb-0">
        @foreach (var item in Model.Banner)
        {
            <a href="@item.Url" class="banner-item">
                @if (!string.IsNullOrEmpty(item.Image))
                {
                    if (i == 1)
                    {
                        <img src="@PathSystem.Combine("/contents/banners/", item.Image)?w=1920" alt="@item.Name"/>
                    }
                    else
                    {
                        <img data-src="@PathSystem.Combine("/contents/banners/", item.Image)?w=1920" alt="@item.Name" class="lazyload" src="images/loading.webp" />
                    }
                }
                else
                {
                    <img src="~/images/no-image.jpg" alt="no-image" />
                }
            </a>
            i++;
        }
    </div>
}

@if (Model.DisplayCategories.Any())
{
    <div class="container pt-5 pb-4">
        <h2 class="section-title line-bottom mb-4">DANH MỤC SẢN PHẨM</h2>
        <div class="row row-cols-3 row-cols-md-3 row-cols-lg-6 justify-content-center mx-n2 mb-n3">
            @foreach (var item in Model.DisplayCategories)
            {
                <div class="col px-2 mb-3">
                    <a asp-action="ListProduct" asp-route-url="@item.Url" class="category-item">
                        @if (!string.IsNullOrEmpty(item.Image))
                        {
                            <picture>
                                <source data-srcset="@PathSystem.Combine("/contents/product-categories/", item.Image)?w=200" media="(max-width: 576px)"/>
                                <img data-src="@PathSystem.Combine("/contents/product-categories/", item.Image)" alt="@item.Title" class="lazyload" src="images/loading.webp"/>
                            </picture>
                        } else
                        {
                            <img src="~/images/no-image.jpg" alt="no-image" />
                        }
                        <h3>@item.Title</h3>
                    </a>
                </div>
            }
        </div>
    </div>
}

@if (Model.ProductOutstanding.Any())
{
    <div class="outstanding container pb-4 pb-md-5">
        <h2 class="section-title">Hot Sales</h2>

        <ul class="outstanding-tabs">
            @foreach (var item in Model.ProductOutstanding)
            {
                <li>
                    <a href="#outstanding-@item.Id">
                        @item.Title
                    </a>
                </li>
            }
        </ul>
        @foreach (var item in Model.ProductOutstanding)
        {
            <div id="outstanding-@item.Id">
                @if (item.Products.Any())
                {
                    <div class="outstanding-content">
                        @foreach (var product in item.Products)
                        {
                            <div>
                                <partial name="ItemProduct" model="product" />
                            </div>
                        }
                    </div>
                } else
                {
                    <p class="text-center text-muted">Nôi dụng chưa được cập nhật.</p>
                }
            </div>
        }
    </div>
}

@foreach (var item in Model.ProductCategories)
{
    if (item.Products.Any())
    {
        <div class="container pb-4 pb-md-5">
            <h2 class="section-title line-bottom mb-2 mb-md-4">@item.Title</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 mx-n2 mb-n3">
                @foreach (var product in item.Products)
                {
                    <div class="col px-2 mb-3">
                        <partial name="ItemProduct" model="product" />
                    </div>
                }
            </div>
            <div class="text-center mt-3 mt-md-4">
                <a asp-action="ListProduct" asp-route-url="@item.Url" class="btn btn-primary">
                    Xem tất cả<i class="fa-solid fa-circle-chevron-right ml-2"></i>
                </a>
            </div>
        </div>
    }
}

@if (Model.Articles.Any())
{
    <div class="news">
        <div class="container py-4 py-md-5">
            <h2 class="section-title line-bottom white mb-4">Tin tức và sự kiện</h2>
            <div class="news-grid overflow-hidden">
                @foreach (var item in Model.Articles)
                {
                    <div class="item-grid">
                        <a asp-action="ArticleDetails" asp-route-url="@item.Url" class="image">
                            @if (!string.IsNullOrEmpty(item.Image))
                            {
                                if (item.Image.StartsWith("/ckfinder/"))
                                {
                                    <img data-src="@item.Image" alt="@item.Name" class="lazyload" />
                                }
                                else
                                {
                                    <img data-src="@PathSystem.Combine("/contents/blog/", item.Image)" alt="@item.Name" class="lazyload" />
                                }
                            } else
                            {
                                <img src="~/images/no-image.jpg" alt="no-image" />
                            }
                        </a>
                        <div class="content">
                            <a asp-action="ArticleDetails" asp-route-url="@item.Url" class="name">
                                @item.Name
                            </a>
                            <p class="date"><i class="fa-regular fa-calendar mr-2"></i>@Html.DisplayFor(m => item.CreatedAt)</p>
                            <p class="text">
                                @item.ShortDescription
                            </p>
                        </div>
                    </div>
                }
            </div>
            <div class="text-center mt-3 mt-md-4">
                <a asp-action="AllArticle" class="btn btn-light">
                    Tìm hiểu thêm<i class="fa-solid fa-circle-chevron-right ml-2"></i>
                </a>
            </div>
        </div>
    </div>
}

<div class="container py-md-5 py-3">
    <div class="row mb-n4">
        <div class="col-lg-6 mb-4">
            <p class="about-text mb-2">Về chúng tôi</p>
            <h2 class="about-title mb-3">@AppService.Config.AboutTitle</h2>
            <div class="about-content mb-3">
                @Html.Raw(AppService.Config.AboutText)
            </div>
            <a href="@AppService.Config.AboutUrl" class="btn btn-outline-primary">Tìm hiểu thêm<i class="fa-sharp fa-solid fa-arrow-right ml-2"></i></a>
        </div>
        <div class="col-lg-6">
            @if (!string.IsNullOrEmpty(AppService.Config.AboutImage))
            {
                <img class="about-image lazyload" data-src="@PathSystem.Combine("/contents/system/", AppService.Config.AboutImage)?w=650" alt="@AppService.Config.AboutImage" />
            }
        </div>
    </div>
</div>

@if (Model.Partner.Any())
{
    <div class="container mt-5 mt-md-5 pb-md-5">
        <h2 class="section-title line-bottom mb-2 mb-md-4">Đối tác - Khách hàng</h2>
        <div class="partner-slider">
            @foreach (var item in Model.Partner)
            {
                <a href="@item.Url" class="d-block my-2 my-md-3" target="_blank">
                    @if (!string.IsNullOrEmpty(item.Image))
                    {
                        <img data-src="@PathSystem.Combine("/contents/banners", item.Image)?w=250" alt="@item.Image" class="lazyload" />
                    }
                    else
                    {
                        <img src="~/images/no-image.jpg" alt="no-image" />
                    }
                </a>
            }
        </div>
    </div>
}