@model Product

@{
    var finalPrice = decimal.Zero;

    @if (Model.Skus.Any())
    {
        var skuPrice = Model.Skus.Min(a => a.FinalPrice);

        finalPrice = skuPrice > 0 ? skuPrice : 0;
    }
    else
    {
        finalPrice = Model.FinalPrice;
    }
}

<div class="product-item">
    <a class="avatar" asp-controller="Home" asp-action="ProductDetails" asp-route-url="@Model.Url">
        @if (!string.IsNullOrEmpty(Model.Avatar))
        {
            if (Model.Avatar.StartsWith("/ckfinder/"))
            {
                <img data-src="@Model.Avatar?w=500" alt="@Model.Name" class="lazyload" src="images/loading.webp"/>
            }
            else
            {
                <img data-src="@PathSystem.Combine("/contents/products/", Model.Avatar)?w=500" alt="@Model.Name" class="lazyload" src="images/loading.webp" />
            }
        }
        else
        {
            <img src="~/images/no-image.jpg" alt="no-image" />
        }
    </a>
    <div class="body">
        <a class="name" asp-controller="Home" asp-action="ProductDetails" asp-route-url="@Model.Url">
            <h3>@Model.Name</h3>
        </a>
        <div class="row">
            <div class="col-7">
                <span class="masp">Mã: @(Model.MaSP ?? "...")</span>
            </div>
            <div class="col-5">
                <span class="price">
                    @if (finalPrice > 0)
                    {
                        @(finalPrice.ToString("N0") + " đ")
                    }
                    else
                    {
                        @:Liên hệ
                    }
                </span>
            </div>
        </div>
    </div>
</div>