@model PageProductViewModel

@{
    ViewData["Title"] = Model.Product.Title ?? Model.Product.Name;
    ViewData["Description"] = Model.Product.ShortDescription ?? Model.Product.Description;
    ViewData["Canonical"] = Url.Action("ProductDetails", "Home", new { url = Model.Product.Url }, protocol: Context.Request.Scheme);

    if (Model.Product.Avatar != null)
    {
        ViewData["ImageShare"] = Model.Product.Avatar;
    }

    var breadcrumb = new BreadcrumbViewModel
    {
        Path = new List<BreadcrumbItem>
        {
            new BreadcrumbItem
            {
                Key = "<i class='fa-solid fa-house mr-2'></i>Trang chủ",
                Value = Url.Action("Index", "Home")
            },
            new BreadcrumbItem
            {
                Key = Model.Product.ProductCategory.Title,
                Value = Model.Product.ProductCategory.Url
            }
        }
    };

    int i = 0;
    int j = 0;
}

@await Html.PartialAsync("_breadcrumb", breadcrumb)

<div class="container pb-5">
    <div class="row mb-5">
        <div class="col-lg-6 mb-4 mb-lg-0">
            @if (Model.Product.ArrImage.Length > 0)
            {
                <div class="product-slider-main">
                    @foreach (var img in Model.Product.ArrImage)
                    {
                        <div class="slide" data-fancybox="san-pham" data-src="@img">
                            <img src="@img" alt="">
                        </div>
                    }
                </div>
                <div class="product-slider-thmb">
                    @foreach (var img in Model.Product.ArrImage)
                    {
                        <div class="slide">
                            <img src="@img" alt="">
                        </div>
                    }
                </div>
            }
        </div>
        <div class="col-lg-6">
            <h1 class="product-name">@Model.Product.Name</h1>
            <p class="product-price mb-4">
                <span class="price">
                    @if (Model.FinalPrice > 0)
                    {
                        @Html.DisplayFor(m => m.FinalPrice)
                    }
                    else
                    {
                        @:Liên hệ
                    }
                </span>
                @if (Model is { Percent: > 0, FinalPrice: > 0 })
                {
                    <span class="price-old">Giá thị trường: <del>@Html.DisplayFor(m => m.Price)</del></span>
                }
            </p>

            <p class="product-text">
                <span>Mã: </span><strong class="product-sku">@(!string.IsNullOrEmpty(Model.MaSP) ? Model.MaSP : "Chưa cập nhật")</strong>
            </p>


            <form class="my-4" id="addToCart">
                <input name="id" type="hidden" value="@Model.Product.Id" />

                @if (Model.OptionGroups.Any())
                {
                    foreach (var item in Model.OptionGroups)
                    {
                        if (item.Options.Any())
                        {
                            <p class="product-text">
                                <span>@(item.Name):</span>
                            </p>
                            <div class="plan">
                                @foreach (var option in item.Options)
                                {
                                    <input data-sku="@option.SkuId" class="product-option" type="radio" name="skuId" id="option-@(i)-@(j)" value="@option.SkuId" checked="@(option.SkuId == Model.SkuId ? "checked" : null)">
                                    <label for="option-@(i)-@(j)">
                                        @if(!string.IsNullOrEmpty(option.Image)) {
                                            <img src="@(option.Image)" alt="option-@(i)-@(j)" />
                                        }
                                        @option.Value
                                    </label>

                                    j++;
                                }
                            </div>
                        }

                        i++;
                    }
                }

                <div class="product-number mt-4 mb-4">
                    <label>Số lượng:</label>
                    <input class="input-number" type="number" name="quantity" value="1" min="1" max="999" />
                </div>

                <div class="product-buttons">
                    <button type="submit" class="btn btn-primary">
                        Thêm vào giỏ hàng
                    </button>
                    <a href="javascript:;" onclick="BuyNow()" class="btn btn-outline-primary">
                        Mua ngay
                    </a>
                </div>
            </form>

            @if (!string.IsNullOrEmpty(Model.Product.ShortDescription))
            {
                <div class="product-des mb-4">
                    <h2>Mô tả</h2>
                    <p>
                        @Model.Product.ShortDescription
                    </p>
                </div>
            }

            <div class="page-share">
                <p>Chia sẻ:</p>
                <ul>
                    <li>
                        <a href="javascipt:;" onclick="window.open('https://www.facebook.com/sharer.php?u='+encodeURIComponent(location.href)+'&amp;t='+encodeURIComponent(document.title));return false">
                            <img src="~/images/facebook.png" alt="FB" />
                        </a>
                    </li>
                    <li>
                        <a href="javascipt:;" onclick="window.open('mailto:?subject=%22'+encodeURIComponent(document.title)+'%22&body=Read%20the%20article%20%22'+encodeURIComponent(document.title)+'%22%20on%20'+encodeURIComponent(location.href));return false">
                            <img src="~/images/google-plus.png" alt="Google" />
                        </a>
                    </li>
                    <li>
                        <a href="javascipt:;" onclick="window.open('https://twitter.com/intent/tweet?url='+encodeURIComponent(location.href)+'&amp;text='+encodeURIComponent(document.title));return false">
                            <img src="~/images/twitter.png" alt="X" />
                        </a>
                    </li>
                    <li>
                        <a href="javascipt:;" onclick="window.open('whatsapp://send?text='+encodeURIComponent(document.title)+'%20'+encodeURIComponent(location.href));return false">
                            <img src="~/images/messenger.png" alt="Messenger" />
                        </a>
                    </li>
                    <li>
                        <a href="javascipt:;" onclick="window.open('http://pinterest.com/pin/create/button/?url='+encodeURIComponent(location.href)+'&description='+encodeURIComponent(document.title));return false">
                            <img src="~/images/printerest.svg" alt="Pinterest" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 mb-4 mb-lg-0">
            <div class="product-content">
                <h2>Mô tả</h2>
                <article>
                    @if (Model.Product.Content != null)
                    {
                        @Html.Raw(Model.Product.Content)
                    }
                    else
                    {
                        <div class="alert alert-info mb-0" role="alert">
                            Nội dung chưa được cập nhật!
                        </div>
                    }
                </article>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="product-list">
                <h2>Sản phẩm tương tự</h2>
                <div class="wrapper">
                    @foreach (var item in Model.Products)
                    {
                        decimal finalPrice = 0;

                        if (item.Skus.Any())
                        {
                            var skuPrice = item.Skus.Min(a => a.FinalPrice);
                            finalPrice = skuPrice > 0 ? skuPrice : 0;
                        } else
                        {
                            finalPrice = item.FinalPrice;
                        }

                        <a asp-controller="Home" asp-action="ProductDetails" asp-route-url="@item.Url" class="item media">
                            @if (!string.IsNullOrEmpty(item.Avatar))
                            {
                                <img class="mr-2" src="@item.Avatar" alt="@item.Name" />
                            } else
                            {
                                <img class="mr-2" src="~/images/no-image.jpg" alt="no-image" />
                            }
                            <div class="media-body">
                                <h3>
                                    @item.Name
                                </h3>
                                <p>
                                    @if (finalPrice > 0)
                                    {
                                        @(finalPrice.ToString("N0") + " đ")
                                    }
                                    else
                                    {
                                        @:Liên hệ
                                    }
                                </p>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
