@model Order
@inject IAppService AppService

@{
    Layout = "";
    var ci = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> Order confirmation </title>
    <meta name="robots" content="noindex,nofollow" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
    <link href="~/css/orderdetails.css" rel="stylesheet" />
</head>
<body>
    <!-- Header -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#e1e1e1">
        <tr>
        <td height="20"></td>
        </tr>
        <tr>
        <td>
            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff" style="border-radius: 10px 10px 0 0;">
            <tr class="hiddenMobile">
                <td height="40"></td>
            </tr>
            <tr class="visibleMobile">
                <td height="30"></td>
            </tr>

            <tr>
                <td>
                <table width="480" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding">
                    <tbody>
                    <tr>
                        <td>
                        <table width="220" border="0" cellpadding="0" cellspacing="0" align="left" class="col">
                            <tbody>
                            <tr>
                                <td align="left">
                                    <a asp-controller="Home" asp-action="Index">
                                        @if (!string.IsNullOrEmpty(AppService.Config.Image)) {
                                            <img src="@PathSystem.Combine("/contents/system", AppService.Config.Image)" width="auto" height="32" alt="logo" border="0" style="object-fit: contain" />
                                        } else {
                                            <img src="~/images/logo.png" width="32" height="32" alt="logo" border="0" />
                                        }
                                    </a>
                                </td>
                            </tr>
                            <tr class="hiddenMobile">
                                <td height="40"></td>
                            </tr>
                            <tr class="visibleMobile">
                                <td height="20"></td>
                            </tr>
                            <tr>
                                <td style="font-size: 12px; color: #5b5b5b; font-family: 'Open Sans', sans-serif; line-height: 18px; vertical-align: top; text-align: left;">
                                Xin chào @Model.Customer.FullName.
                                <br> Cảm ơn bạn đã mua sắm từ cửa hàng của chúng tôi và đặt hàng.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table width="220" border="0" cellpadding="0" cellspacing="0" align="right" class="col">
                            <tbody>
                            <tr class="visibleMobile">
                                <td height="20"></td>
                            </tr>
                            <tr>
                                <td height="5"></td>
                            </tr>
                            <tr>
                                <td style="font-size: 21px; color: #ff0000; letter-spacing: -1px; font-family: 'Open Sans', sans-serif; line-height: 1; vertical-align: top; text-align: right;">
                                Hóa đơn
                                </td>
                            </tr>
                            <tr>
                            <tr class="hiddenMobile">
                                <td height="50"></td>
                            </tr>
                            <tr class="visibleMobile">
                                <td height="20"></td>
                            </tr>
                            <tr>
                                <td style="font-size: 12px; color: #5b5b5b; font-family: 'Open Sans', sans-serif; line-height: 18px; vertical-align: top; text-align: right;">
                                @* <small>ORDER</small> *@ #@Model.OrderCode<br />
                                <small style="text-transform: uppercase;">@Model.CreateDate.ToString("HH:mm - dd MMMM, yyyy", ci)</small>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </td>
            </tr>
            </table>
        </td>
        </tr>
    </table>
    <!-- /Header -->
    <!-- Order Details -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#e1e1e1">
        <tbody>
        <tr>
            <td>
            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff">
                <tbody>
                <tr>
                <tr class="hiddenMobile">
                    <td height="60"></td>
                </tr>
                <tr class="visibleMobile">
                    <td height="40"></td>
                </tr>
                <tr>
                    <td>
                    <table width="480" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding">
                        <tbody>
                        <tr>
                            <th style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #5b5b5b; font-weight: normal; line-height: 1; vertical-align: top; padding: 0 10px 7px 0;" width="52%" align="left">
                            Tên
                            </th>
                            <th style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #5b5b5b; font-weight: normal; line-height: 1; vertical-align: top; padding: 0 0 7px;" align="left">
                            <small>Mã SP</small>
                            </th>
                            <th style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #5b5b5b; font-weight: normal; line-height: 1; vertical-align: top; padding: 0 0 7px;" align="center">
                            Số lượng
                            </th>
                            <th style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #1e2b33; font-weight: normal; line-height: 1; vertical-align: top; padding: 0 0 7px;" align="right">
                            Tạm tính
                            </th>
                        </tr>
                        <tr>
                            <td height="1" style="background: #bebebe;" colspan="4"></td>
                        </tr>
                        <tr>
                            <td height="10" colspan="4"></td>
                        </tr>
                        @foreach (var item in Model.OrderDetails) {
                            <tr>
                                <td style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #ff0000;  line-height: 18px;  vertical-align: top; padding:10px 0;" class="article">
                                    @item.Product.Name
                                </td>
                                <td style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #646a6e;  line-height: 18px;  vertical-align: top; padding:10px 0;"><small>@(item.Sku != null ? item.Sku.SKU : item.Product.MaSP)</small></td>
                                <td style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #646a6e;  line-height: 18px;  vertical-align: top; padding:10px 0;" align="center">@item.Quantity</td>
                                <td style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #1e2b33;  line-height: 18px;  vertical-align: top; padding:10px 0;" align="right">@Html.DisplayFor(m => item.Amount)</td>
                            </tr>
                            <tr>
                                <td height="1" colspan="4" style="border-bottom:1px solid #e4e4e4"></td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    </td>
                </tr>
                <tr>
                    <td height="20"></td>
                </tr>
                </tbody>
            </table>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- /Order Details -->
    <!-- Total -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#e1e1e1">
        <tbody>
        <tr>
            <td>
            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff">
                <tbody>
                <tr>
                    <td>

                    <!-- Table Total -->
                    <table width="480" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding">
                        <tbody>
                        <tr>
                            <td style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #646a6e; line-height: 22px; vertical-align: top; text-align:right; ">
                            Tổng phụ
                            </td>
                            <td style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #646a6e; line-height: 22px; vertical-align: top; text-align:right; white-space:nowrap;" width="80">
                            @Html.DisplayFor(m => Model.Total)
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #646a6e; line-height: 22px; vertical-align: top; text-align:right; ">
                            Phí vận chuyển
                            </td>
                            <td style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #646a6e; line-height: 22px; vertical-align: top; text-align:right; ">
                            @Html.DisplayFor(m => Model.ShipFee)
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #000; line-height: 22px; vertical-align: top; text-align:right; ">
                            <strong>Tổng cộng</strong>
                            </td>
                            <td style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #000; line-height: 22px; vertical-align: top; text-align:right; ">
                            <strong>@Html.DisplayFor(m => m.TotalFee)</strong>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #b0b0b0; line-height: 22px; vertical-align: top; text-align:right; "><small>Đã thanh toán</small></td>
                            <td style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #b0b0b0; line-height: 22px; vertical-align: top; text-align:right; ">
                            <small>@(Html.DisplayFor(m => m.Prepayment))(còn: @Html.DisplayFor(m => m.TotalDebt))</small>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- /Table Total -->

                    </td>
                </tr>
                </tbody>
            </table>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- /Total -->
    <!-- Information -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#e1e1e1">
        <tbody>
        <tr>
            <td>
            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff">
                <tbody>
                <tr>
                <tr class="hiddenMobile">
                    <td height="60"></td>
                </tr>
                <tr class="visibleMobile">
                    <td height="40"></td>
                </tr>
                <tr>
                    <td>
                    <table width="480" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding">
                        <tbody>
                        <tr>
                            <td>
                            <table width="220" border="0" cellpadding="0" cellspacing="0" align="left" class="col">

                                <tbody>
                                <tr>
                                    <td style="font-size: 11px; font-family: 'Open Sans', sans-serif; color: #5b5b5b; line-height: 1; vertical-align: top; ">
                                    <strong>THÔNG TIN KHÁCH HÀNG</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100%" height="10"></td>
                                </tr>
                                <tr>
                                    <td style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #5b5b5b; line-height: 20px; vertical-align: top; ">
                                    @Model.Customer.FullName<br> @Model.Address<br> @Model.Ward.Name, @Model.District.Name, @Model.City.Name<br> Ghi chú: @Model.Customer.Note
                                    </td>
                                </tr>
                                </tbody>
                            </table>


                            <table width="220" border="0" cellpadding="0" cellspacing="0" align="right" class="col">
                                <tbody>
                                <tr class="visibleMobile">
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td style="font-size: 11px; font-family: 'Open Sans', sans-serif; color: #5b5b5b; line-height: 1; vertical-align: top; ">
                                    <strong>PHƯƠNG THỨC THANH TOÁN</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100%" height="10"></td>
                                </tr>
                                <tr>
                                    <td style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #5b5b5b; line-height: 20px; vertical-align: top; ">
                                    @Model.PaymentType.GetDisplayName()
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                @* <tr>
                    <td>
                    <table width="480" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding">
                        <tbody>
                        <tr>
                            <td>
                            <table width="220" border="0" cellpadding="0" cellspacing="0" align="left" class="col">
                                <tbody>
                                <tr class="hiddenMobile">
                                    <td height="35"></td>
                                </tr>
                                <tr class="visibleMobile">
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td style="font-size: 11px; font-family: 'Open Sans', sans-serif; color: #5b5b5b; line-height: 1; vertical-align: top; ">
                                    <strong>HÌNH THỨC VẬN CHUYỂN</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100%" height="10"></td>
                                </tr>
                                <tr>
                                    <td style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #5b5b5b; line-height: 20px; vertical-align: top; ">
                                    @Model.TransportType.GetDisplayName()
                                    </td>
                                </tr>
                                </tbody>
                            </table>


                            <table width="220" border="0" cellpadding="0" cellspacing="0" align="right" class="col">
                                
                            </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </td>
                </tr> *@
                <tr class="hiddenMobile">
                    <td height="60"></td>
                </tr>
                <tr class="visibleMobile">
                    <td height="30"></td>
                </tr>
                </tbody>
            </table>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- /Information -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#e1e1e1">

        <tr>
        <td>
            <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff" style="border-radius: 0 0 10px 10px;">
            <tr>
                <td>
                <table width="480" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding">
                    <tbody>
                    <tr>
                        <td style="font-size: 12px; color: #5b5b5b; font-family: 'Open Sans', sans-serif; line-height: 18px; vertical-align: top; text-align: left;">
                        Chúc một ngày tốt lành.
                        </td>
                    </tr>
                    </tbody>
                </table>
                </td>
            </tr>
            <tr class="spacer">
                <td height="50"></td>
            </tr>

            </table>
        </td>
        </tr>
        <tr>
        <td height="20"></td>
        </tr>
    </table>
</body>
</html>



