@model HeaderViewModel
@inject IAppService AppService

<header class="d-none d-lg-block">
    <div class="container">
        <div class="row py-3">
            <div class="col-lg-2 d-flex align-items-center">
                <a asp-controller="Home" asp-action="Index" class="logo">
                    @if (!string.IsNullOrEmpty(AppService.Config.Image))
                    {
                        <img src="@PathSystem.Combine("/contents/system/", AppService.Config.Image)" alt="logo" />
                    }
                    else
                    {
                        <img src="~/images/logo.png" alt="logo" />
                    }
                </a>
            </div>
            <div class="col-lg-8 d-flex justify-content-center align-items-center">
                <form asp-controller="Home" asp-action="AllProduct" method="get" class="input-group search">
                    <div class="input-group-prepend">
                        <select name="category" class="custom-select" style="width: 128px;">
                            <option selected>Tìm theo</option>
                            @foreach (var item in Model.SelectCategories)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>
                    <input type="text" name="term" class="form-control" placeholder="Tìm sản phẩm, danh mục hay thương hiệu">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fa-regular fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-lg-2">
                <ul class="header-links">
                    <li>
                        <a asp-controller="ShoppingCart" asp-action="Index" class="link-icon mr-4">
                            <div class="icon shoppingcart">
                                <span class="count">@(Model.Count > 9 ? "9+" : Model.Count)</span>
                                <i class="fa-solid fa-cart-minus"></i>
                            </div>
                            <span class="name">Giỏ hàng</span>
                        </a>

                        <div class="drop-menu">
                            <div class="shoppingcart-mini">
                                <partial name="~/Views/ShoppingCart/CartMini.cshtml" model="Model.CartMini" />
                            </div>
                        </div>
                    </li>
                    <li>
                        <a asp-controller="Member" asp-action="Index" class="link-icon">
                            <div class="icon">
                                <i class="fa-solid fa-user"></i>
                                <span class="arrow">
                                    <i class="fa-solid fa-caret-down"></i>
                                </span>
                            </div>
                            <span class="name">@(User.Identity.IsAuthenticated ? User.Identity.Name : "Tài khoản")</span>
                        </a>

                        <ul class="drop-menu">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <li>
                                    <a asp-controller="Member" asp-action="Login">Đăng nhập</a>
                                </li>
                                <li>
                                    <a asp-controller="Member" asp-action="Register">Đăng ký</a>
                                </li>
                            } else
                            {
                                <li>
                                    <a asp-controller="Member" asp-action="ChangePassword">Đổi mật khẩu</a>
                                </li>
                                <li>
                                    <a asp-controller="Member" asp-action="ListAddress">Địa chỉ</a>
                                </li>
                                <li>
                                    <a asp-controller="Member" asp-action="ListOrder">Đơn hàng</a>
                                </li>
                                <li>
                                    <form asp-controller="Member" asp-action="Logout" method="post">
                                        <button type="submit">Đăng xuất</button>
                                    </form>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <nav class="header-nav pb-3">
            <ul class="menu">
                <li>
                    <a class="active" asp-controller="Home" asp-action="Index">Trang chủ</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="About">Giới thiệu</a>
                </li>
                @foreach (var item in Model.ProductCategories)
                {
                    <li>
                        <a asp-controller="Home" asp-action="ListProduct" asp-route-url="@item.Url">
                            @item.Title
                        </a>
                        @if (item.CategoryChildren.Any())
                        {
                            <ul class="submenu">
                                @foreach (var chil in item.CategoryChildren)
                                {
                                    <li>
                                        <a asp-controller="Home" asp-action="ListProduct" asp-route-url="@chil.Url">@chil.Title</a>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
                @foreach (var item in Model.ArticleCategories)
                {
                    <li>
                        <a asp-controller="Home" asp-action="ListArticle" asp-route-url="@item.Url">
                            @item.Title
                        </a>
                        @if (item.CategoryChildren.Any())
                        {
                            <ul class="submenu">
                                @foreach (var chil in item.CategoryChildren)
                                {
                                    <li>
                                        <a asp-controller="Home" asp-action="ListArticle" asp-route-url="@chil.Url">@chil.Title</a>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
                <li>
                    <a asp-controller="Home" asp-action="Contact">Liên hệ</a>
                </li>
            </ul>
        </nav>
    </div>
</header>


<nav class="d-block d-lg-none nav-mobi">
    <div class="container">
        <div class="row">
            <div class="col-2 d-flex align-items-center">
                <button type="button" class="btn" onclick="menuOpen()">
                    <i class="fa-regular fa-bars"></i>
                </button>
            </div>
            <div class="col-8 d-flex justify-content-center align-items-center">
                <a class="logo" asp-action="Index" asp-controller="Home">
                    @if (AppService.Config.Image != null)
                    {
                        <img src="@PathSystem.Combine("/contents/system", AppService.Config.Image)" alt="logo" />
                    }
                    else
                    {
                        <img src="~/images/logo.png" alt="logo" />
                    }
                </a>
            </div>
            <div class="col-2 d-flex align-items-center justify-content-end">
                <div class="member-mobi">
                    <a href="javascript:;" class="btn">
                        <i class="fa-solid fa-user"></i>
                    </a>

                    <ul class="drop-menu">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a asp-controller="Member" asp-action="Login">Đăng nhập</a>
                            </li>
                            <li>
                                <a asp-controller="Member" asp-action="Register">Đăng ký</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-controller="Member" asp-action="ChangePassword">Thông tin tài khoản</a>
                            </li>
                            <li>
                                <a asp-controller="Member" asp-action="ChangePassword">Đổi mật khẩu</a>
                            </li>
                            <li>
                                <a asp-controller="Member" asp-action="ListAddress">Địa chỉ</a>
                            </li>
                            <li>
                                <a asp-controller="Member" asp-action="ListOrder">Đơn hàng</a>
                            </li>
                            <li>
                                <form asp-controller="Member" asp-action="Logout" method="post">
                                    <button type="submit">Đăng xuất</button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
                <div class="shoppingcart-wrapper">
                    <a href="javascript:;" class="shoppingcart">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span class="count">@Model.Count</span>
                    </a>
                    <div class="shoppingcart-mini">
                        <partial name="~/Views/ShoppingCart/CartMini.cshtml" model="Model.CartMini" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="nav-mobi-menu">
        <li class="search">
            <form asp-action="AllProduct" asp-controller="Home" method="get">
                <input name="term" type="text" placeholder="Tìm sản phẩm mong muốn ..." />
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Index" class="home">
                <i class="fa-sharp fa-solid fa-house"></i>
            </a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="AboutUs">
                Giới thiệu
            </a>
        </li>
        @foreach (var item in Model.ProductCategories)
        {
            <li>
                <a asp-action="ListProduct" asp-controller="Home" asp-route-url="@item.Url">@item.Title</a>
                @if (item.CategoryChildren.Any())
                {
                    <button type="button" onclick="toggleSubmenu(this)"><i class="fa-solid fa-caret-down"></i></button>
                    <ul>
                        @foreach (var chil in item.CategoryChildren)
                        {
                            <li>
                                <a asp-action="ListProduct" asp-controller="Home" asp-route-url="@chil.Url">@chil.Title</a>
                            </li>
                        }
                    </ul>
                }
            </li>
        }
        @foreach (var item in Model.ArticleCategories)
        {
            <li>
                <a asp-action="ListArticle" asp-controller="Home" asp-route-url="@item.Url">@item.Title</a>
                @if (item.CategoryChildren.Any())
                {
                    <button type="button" onclick="toggleSubmenu(this)"><i class="fa-solid fa-caret-down"></i></button>
                    <ul>
                        @foreach (var chil in item.CategoryChildren)
                        {
                            <li>
                                <a asp-action="ListArticle" asp-controller="Home" asp-route-url="@chil.Url">@chil.Title</a>
                            </li>
                        }
                    </ul>
                }
            </li>
        }
        <li>
            <a asp-controller="Home" asp-action="Contact" class="button-1">
                Liên hệ
            </a>
        </li>
        <li class="social-media">
            <a href="@AppService.Config.Facebook" rel="nofollow" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="@AppService.Config.Twitter" rel="nofollow" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a href="@AppService.Config.Youtube" rel="nofollow" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        </li>
    </ul>
    <div class="bg-close" onclick="menuClose()">
        <button type="button"><i class="fa-solid fa-xmark"></i></button>
    </div>
</nav>
