@model ProductViewModel

@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "_AdminLayout";
}

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <partial name="_resultmessage" model="ViewBag.Message" />
}

<div class="box_header">
    <h2>@ViewBag.Title</h2>
    <div class="list-group list-group-horizontal">
        <a class="btn quick-link mr-2" asp-action="Product"><i class="fa-solid fa-pen mr-2"></i>Thêm mới</a>
    </div>
</div>

<div class="box_content">
    <form class="mb-4" action="" method="get">
        <div class="row">
            <div class="col-3">
                <label>Từ khóa</label>
                <input name="term" asp-for="Term" class="form_control" />
            </div>
            <div class="col-3">
                <label>Danh mục</label>
                <select name="cateId" asp-for="CategoryId" asp-items="ViewBag.categories">
                    <option value="">Chọn danh mục</option>
                </select>
            </div>
            <div class="col-3">
                <label>Mã sản phẩm</label>
                <input name="masp" asp-for="MaSP" />
            </div>
            <div class="col-3">
                <label>Tồn kho</label>
                <input name="instock" asp-for="InStock" />
            </div>
            <div class="col-3">
                <label>Từ ngày</label>
                <input name="timer" asp-for="Timer" />
            </div>
            <div class="col-3 d-flex align-items-end">
                <a asp-action="ListProduct" class="btn-search mb-2">Quay lại</a>
                <button type="submit" class="btn-search mb-2">Tìm kiếm</button>
            </div>
        </div>
    </form>
    <p>Có tổng số <strong>@Model.ListProduct.TotalItemCount</strong> sản phẩm</p>
    <form id="productList">
        <table class="list_table tablecenter table-striped">
            <tbody>
                <tr>
                    <th style="width: 50px" class="text-center">#</th>
                    <th style="width: 50px" class="text-center">STT</th>
                    <th style="width: 100px" class="text-center">@Html.DisplayNameFor(m => m.Product.Images)</th>
                    <th style="width: 250px">@Html.DisplayNameFor(m => m.Product.Name)</th>
                    <th style="width: 100px" class="text-center">@Html.DisplayNameFor(m => m.Product.ProductCategory.Title)</th>
                    <th style="width: 200px" class="text-center">Giá cả</th>
                    <th style="width: 150px" class="text-center">@Html.DisplayNameFor(m => m.Product.Active)</th>
                    <th style="width: 130px"></th>
                </tr>
                @if (Model.ListProduct.Any())
                {
                    var i = (Model.ListProduct.PageNumber - 1) * Model.ListProduct.PageSize + 1;
                    @foreach (var item in Model.ListProduct)
                    {
                        <tr data-id="@item.Id">
                            <td>
                                <input type="hidden" name="ProductId" value="@item.Id" />
                                @(i++)
                            </td>
                            <td>
                                @item.Sort
                            </td>
                            <td>
                                <a asp-action="ProductDetails" asp-controller="Home" asp-route-url="@item.Url" target="_blank">
                                    @if (!string.IsNullOrEmpty(item.Avatar))
                                    {
                                        <img src="@Url.Content($"/contents/products/{item.Avatar}")" style="width: 100%; aspect-ratio: 1; object-fit: contain;">
                                    }
                                    else
                                    {
                                        <span>NO PHOTO</span>
                                    }
                                </a>
                            </td>
                            <td class="left">
                                <a asp-action="UpdateProduct" asp-route-id="@item.Id">@item.Name</a>
                            </td>
                            <td>
                                <a asp-action="ListProduct" asp-controller="Home" asp-route-url="@item.ProductCategory.Url">
                                    @item.ProductCategory.Title
                                </a>
                            </td>                                                                                                                                                                                                                                                                                                                                                                                       
                            <td>
                                <p>@Html.DisplayNameFor(m => m.Product.Price): @Html.DisplayFor(m => item.Price) </p>
                                <span class="text-danger">@Html.DisplayNameFor(m => m.Product.PriceSale): @Html.DisplayFor(m => item.PriceSale)</span> <br />
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Active)<br />
                            </td>
                            <td>
                                <a class="btn btn-warning mb-2" asp-action="UpdateProduct" asp-route-id="@item.Id" style="width: 110px;">Sửa</a>
                                <a class="btn btn-danger" href="javascript:;" onclick="deleteFunc(@item.Id)" style="width: 110px;">
                                    Xóa
                                </a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
        @if (Model.ListProduct.PageCount > 1)
        {
            <div>
                @Html.PagedListPager(Model.ListProduct, page => Url.Action("ListProduct", new { page }))
            </div>
        }
    </form>
</div>

@section scripts
{
    <script type="text/javascript">
        function deleteFunc(id) {
            if (confirm("Bạn có chắc chắn xóa sản phẩm này không?")) {
                $.post("/ProductVcms/DeleteProduct", { id: id }, function (data) {
                    if (data.success) {
                        $.toast({
                            text: 'Xóa sản phẩm thành công',
                            position: 'bottom-right',
                            icon: 'success'
                        });
                        $("tr[data-id='" + id + "']").fadeOut();
                    }
                    else {
                        $.toast({
                            text: 'Quá trình thực hiện không thành công. Hãy thử lại',
                            icon: 'error'
                        });
                    }
                });
            }
        }
    </script>
}