@model ProductCategoryViewModel

@{
    ViewBag.Title = "Thêm danh mục sản phẩm";
    Layout = "_AdminLayout";
}

<div class="box_header">
    <h2>@ViewBag.Title</h2>
    <div class="list-group list-group-horizontal">
        <a class="btn quick-link mr-2" asp-action="ListProductCategory"><i class="fa-solid fa-pen mr-2"></i>Danh sách danh mục sản phẩm</a>
    </div>
</div>
<div class="box_content">
    @using (Html.BeginForm("ProductCategory", "ProductVcms", FormMethod.Post, new { enctype = "multipart/form-data", @id = "product-form" }))
    {
        <div class="row">
            <div class="col-lg-8 pr-lg-5">
                @Html.ValidationSummary(true)
                <table class="form_table">
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.ProductCategory.Title)</td>
                        <td class="form_text">@Html.EditorFor(model => model.ProductCategory.Title)</td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.ProductCategory.Url)</td>
                        <td class="form_text">@Html.EditorFor(model => model.Url)</td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.ProductCategory.Description)</td>
                        <td class="form_text">
                            <textarea asp-for="ProductCategory.Description"> </textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.ProductCategory.Content)</td>
                        <td class="form_text">
                            <textarea asp-for="ProductCategory.Content" class="ckeditor"> </textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="form_name">
                            <label asp-for="ProductCategory.Image"></label>
                        </td>
                        <td class="form_text">
                            <div class="alert alert-info">
                                <button type="button" class="btn btn-primary" onclick="selectMultipleFileWithCKFinder()">Chọn ảnh từ CKFinder</button>
                            </div>
                            <div id="progress" class="progress" style="display:none;">
                                <div class="progress-bar progress-bar-success"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="form_name"></td>
                        <td class="form_text">
                            <ul id="ListImages"></ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="form_name"></td>
                        <td class="form_text">
                            <input type="submit" class="btn quick-link" value="Thêm mới" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4">
                <table class="form_table">
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.ProductCategory.ParentCategoryId)</td>
                        <td class="form_text">
                            <select asp-for="ProductCategory.ParentCategoryId" class="form_control w300" asp-items="ViewBag.categories">
                                <option value="">Không có danh mục cha</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.ProductCategory.ShowHome)</td>
                        <td class="form_text">@Html.EditorFor(model => model.ProductCategory.ShowHome)</td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.ProductCategory.ShowMenu)</td>
                        <td class="form_text">@Html.EditorFor(model => model.ProductCategory.ShowMenu)</td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.ProductCategory.ShowHeader)</td>
                        <td class="form_text">@Html.EditorFor(model => model.ProductCategory.ShowHeader)</td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.ProductCategory.ShowOutstanding)</td>
                        <td class="form_text">@Html.EditorFor(model => model.ProductCategory.ShowOutstanding)</td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.ProductCategory.Display)</td>
                        <td class="form_text">@Html.EditorFor(model => model.ProductCategory.Display)</td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.ProductCategory.Active)</td>
                        <td class="form_text">@Html.CheckBoxFor(model => model.ProductCategory.Active, new { @checked = "checked" })</td>
                    </tr>
                </table>
            </div>
        </div>
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        var i = 1;
        function selectMultipleFileWithCKFinder() {
            CKFinder.popup({
                chooseFiles: true,
                chooseMultiple: true,
                width: 800,
                height: 600,
                onInit: function (finder) {
                    finder.on('files:choose', function (evt) {
                        evt.data.files.forEach(function (file) {
                            /*var file = evt.data.files.first();*/
                            var fileUrl = file.getUrl();

                            // Validate file type and size (Note: CKFinder does not provide file size, so size validation is skipped)
                            var uploadErrors = [];
                            var acceptFileTypes = /\.(gif|jpe?g|png)$/i;
                            if (!acceptFileTypes.test(fileUrl)) {
                                uploadErrors.push("Chỉ chấp nhận định dạng jpeg, jpg, png, gif");
                            }

                            var totalImg = $("#ListImages .thumb-img-box").length;
                            if (totalImg > 0) {
                                uploadErrors.push("Chỉ đăng tối đa 1 ảnh");
                            }
                            if (uploadErrors.length > 0) {
                                alert(uploadErrors.join("\n"));
                                return false;
                            }
                            // Append image to list
                            $('#ListImages').append(
                                '<li class="thumb-img-box">' +
                                '<input type="hidden" name="Image" value ="' + fileUrl + '" />' +
                                '<img src="' + fileUrl + '" alt="Image"/>' +
                                '<a href="javascript:;" id="' + i + '" onclick="delfile(' + i + ')">' +
                                '<i class="fa-solid fa-xmark" style="vertical-align:middle"></i>' +
                                '</a>' +
                                '</li>'
                            );
                            i++;
                        })
                    });

                }
            });
        }

        function delfile(divid) {
            if (confirm('Bạn có chắc xóa ảnh này?')) {
                $('#' + divid).parent().fadeOut().remove();
            }
        }
    </script>
}
