@model ProductViewModel

@{
    var collapses = Model.SkuProduct.FirstItem.Split(",");
    int i = 0;
    int indexs = 0;
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" class="text-center"></th>
            <th scope="col" class="text-center">Ảnh</th>
            <th scope="col" class="text-center">SKU</th>
            <th scope="col" class="text-center">Tồn kho</th>
            <th scope="col" class="text-center">Giá</th>
            <th scope="col" class="text-center">Giá bán</th>
        </tr>
    </thead>
    @foreach (var lap in collapses)
    {
        <tbody>
            @foreach (var item in Model.SkuProduct.Attrs.Where(m => m.Split("/").First() == lap))
            {
                <tr>
                    <th scope="row" style="vertical-align: middle;">
                        <p class="my-2">@lap</p>
                    </th>
                    <td style="vertical-align: middle;">
                        <div class="sku-image">
                            <input type="hidden" asp-for="SkuProduct.Images" value="@(Model.SkuProduct.Images.ElementAtOrDefault(indexs) ?? "")" />
                            <img src="@(Model.SkuProduct.Images.ElementAtOrDefault(indexs) ?? "/images/no-image.jpg")" />
                            <button type="button"><i class="fa-solid fa-xmark"></i></button>
                        </div>
                    </td>
                    <td style="vertical-align: middle;">
                        <input class="form-control my-2" asp-for="SkuProduct.Skus" value="@(Model.SkuProduct.Skus.ElementAtOrDefault(indexs))" required placeholder="SKU" />
                        <input type="hidden" asp-for="SkuProduct.Options" value="@string.Join("/", Model.SkuProduct.OptionIds)" />
                        <input type="hidden" asp-for="SkuProduct.Values" value="@item" />
                        <input type="hidden" asp-for="SkuProduct.Ids" value="@(Model.SkuProduct.Ids.ElementAt(indexs))" />
                    </td>
                    <td style="vertical-align: middle;"><input class="form-control my-2" type="number" value="0" required asp-for="SkuProduct.Stocks" value="@(Model.SkuProduct.Stocks.ElementAtOrDefault(indexs))" placeholder="Tồn kho" /></td>
                    <td style="vertical-align: middle;"><input class="form-control input-number my-2" asp-for="SkuProduct.Prices" value="@(Model.SkuProduct.Prices.ElementAtOrDefault(indexs))" placeholder="Giá" /></td>
                    <td style="vertical-align: middle;"><input class="form-control input-number my-2" asp-for="SkuProduct.PriceSales" value="@(Model.SkuProduct.PriceSales.ElementAtOrDefault(indexs))" placeholder="Giá bán" /></td>
                </tr>

                indexs++;
            }
        </tbody>
    }
</table>

<input type="hidden" asp-for="SkuProduct.Indexs" value="@indexs" />

<script>
    $(".input-number").maskMoney({
        precision: 0,
        thousands: ','
    });

    $(".sku-image img").click(function () {
        selectFileWithCKFinder(this);
    });

    $(".sku-image button").click(function () {
        $(this).parent().find("input").val("");
        $(this).parent().find("img").attr("src", "/images/no-image.jpg");
    });

    function selectFileWithCKFinder(ele) {
        CKFinder.popup({
            chooseFiles: true,
            width: 800,
            height: 600,
            onInit: function (finder) {
                finder.on('files:choose', function (evt) {
                    var file = evt.data.files.first();
                    var fileUrl = file.getUrl();
                    var element = $(ele);

                    element.attr("src", fileUrl);
                    element.closest(".sku-image").find("input").val(file.getUrl());
                });

            }
        });
    }
</script>
