@model ProductViewModel

@{
    ViewBag.Title = "Cập nhật sản phẩm";
    Layout = "_AdminLayout";
}

<div class="box_header">
    <h2>@ViewBag.Title</h2>
    <div class="list-group list-group-horizontal">
        <a class="btn quick-link mr-2" asp-action="ListProduct"><i class="fa-solid fa-pen mr-2"></i>Danh sách sản phẩm</a>
    </div>
</div>
<div class="box_content">
    @using (Html.BeginForm("UpdateProduct", "ProductVcms", FormMethod.Post, new { enctype = "multipart/form-data", @id = "product-form" }))
    {
        <div class="row">
            <div class="col-12">
                @Html.ValidationSummary(true)
                <input type="hidden" asp-for="Product.Id" id="productId" />
                <table class="form_table">
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Product.ProductCategoryId)</td>
                        <td class="form_text pb-3">
                            <select asp-for="Product.ProductCategoryId" class="select2 form_control" asp-items="ViewBag.categories" style="width: 300px;">
                                <option value="">Chọn danh mục sản phẩm</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Product.Name)</td>
                        <td class="form_text">@Html.EditorFor(model => model.Product.Name)</td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Product.ShortDescription)</td>
                        <td class="form_text">
                            <textarea asp-for="Product.ShortDescription" rows="5"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Product.MaSP)</td>
                        <td class="form_text">@Html.EditorFor(model => model.Product.MaSP)</td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Product.Url)</td>
                        <td class="form_text">@Html.EditorFor(model => model.Url)</td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Price) (VND)</td>
                        <td class="form_text">@Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "input-number" } })</td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.PriceSale) (VND)</td>
                        <td class="form_text">@Html.EditorFor(model => model.PriceSale, new { htmlAttributes = new { @class = "input-number" } })</td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Product.Images)</td>
                        <td class="form_text">
                            <div class="file-images mb-3"></div>
                            <input type="hidden" asp-for="Product.Images" id="Images" />
                        </td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Product.Content)</td>
                        <td class="form_text">
                            <textarea asp-for="Product.Content" class="ckeditor"> </textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Product.Title)</td>
                        <td class="form_text">@Html.EditorFor(model => model.Product.Title)</td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Product.Description)</td>
                        <td class="form_text">
                            <textarea asp-for="Product.Description" rows="5"> </textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Product.Sort)</td>
                        <td class="form_text">
                            <input asp-for="Product.Sort" />
                        </td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Product.Active)</td>
                        <td class="form_text">
                            <input asp-for="Product.Active" checked />
                        </td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Product.ShowOutstanding)</td>
                        <td class="form_text">
                            <input asp-for="Product.ShowOutstanding" />
                        </td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Product.ShowHome)</td>
                        <td class="form_text">
                            <input asp-for="Product.ShowHome" />
                        </td>
                    </tr>
                    <tr>
                        <td class="form_name"></td>
                        <td class="form_text d-flex justify-content-between align-items-center border-bottom pb-3">
                            <label class="mb-0">Tạo thuộc tính</label>
                            <button type="button" class="create-attr btn btn-dark">Đã xong</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="form_name"></td>
                        <td class="form_text pt-3">
                            @foreach (var item in Model.Options)
                            {
                                <div class="form-group">
                                    <label>@item.Name</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input name="attribute" value="@item.Id" type="checkbox" class="mb-0">
                                            </div>
                                        </div>
                                        <input name="value" data-attr="@item.Id">
                                    </div>
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="form_name"></td>
                        <td class="attrs-wrapper form_text pt-3">
                            <partial name="ListSku" model="Model" />
                        </td>
                    </tr>
                    <tr>
                        <td class="form_name"></td>
                        <td class="form_text">
                            <input type="submit" class="btn quick-link" value="Cập nhật" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-5">
                <table class="form_table" id="tableItemInfo">
                </table>
            </div>
        </div>
    }
</div>

@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(".input-number").maskMoney({
            precision: 0,
            thousands: ','
        });

        $('[name=value]').tagify();

        $(".file-images").customUploader({
            folder: "products",
            extens: "jpg, jpeg, png",
            limit: 12,
            input: "#Images",
            init: '@Html.Raw(Model.Product.Images?.JsonUploader(Context.Request, "products"))'
        });

        $('input[name="attribute"]').on('change', function () {
            if ($('input[name="attribute"]:checked').length > 1) {
                $(this).prop('checked', false);
                alert("Chỉ được chọn tối đa 1 lựa chọn!");
            }
        });

        $('.create-attr').click(function () {
            let arr = [];
            let ids = [];

            $('input[name="attribute"]:checked').each(function () {
                let id = $(this).val();
                let parsedData = JSON.parse($(`input[data-attr="${id}"]`).val());

                let value = parsedData.map(function (tag) {
                    var result = tag.value;

                    return result;
                }).join(',');

                arr.push(value);
                ids.push(id);
            });

            if (arr.length > 0) {
                $.post("@Url.Action("ListSku", "ProductVcms")", {
                    attrs: arr,
                    ids: ids,
                }, function (data) {
                    $(".attrs-wrapper").empty();
                    $(".attrs-wrapper").html(data);
                });
            }
        });
    </script>
}
