@model ChangePasswordModel
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="box_header">
        <h2>@ViewBag.Title</h2>
        <div class="list-group list-group-horizontal">
            <a class="btn quick-link mr-2" asp-action="Index"><i class="fa-solid fa-gauge-max mr-2"></i>Tổng quan website</a>
        </div>
    </div>
    <div class="box_content px-300">
        @if (ViewBag.Result == 1)
        {
            <div id="AlertBox" class="alert alert-success"><strong>Đổi mật khẩu thành công</strong></div>
        }
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <table class="form_table">
                <tbody>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.OldPassword)</td>
                        <td class="form_text">
                            @Html.PasswordFor(model => model.OldPassword, new { @class = "form_control w300" })
                            @Html.ValidationMessageFor(model => model.OldPassword)
                        </td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.Password)</td>
                        <td class="form_text">
                            @Html.PasswordFor(model => model.Password, new { @class = "form_control w300" })
                            @Html.ValidationMessageFor(model => model.Password)
                        </td>
                    </tr>
                    <tr>
                        <td class="form_name">@Html.LabelFor(model => model.ConfirmPassword)</td>
                        <td class="form_text">
                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form_control w300" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                        </td>
                    </tr>
                    <tr>
                        <td class="form_name"></td>
                        <td class="form_text"><input class="btn quick-link" type="submit" value="Đổi mật khẩu"></td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
</div>

