@model AdminViewModel
@{
    ViewBag.Title = "Cập nhật quản trị";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<a class="btn quick-link" href="@Url.Action("CreateAdmin","Vcms")"><i class="far fa-list mr-1"></i> Danh sách quản trị viên</a>
<div class="box_content px-300">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Admin.Id)
        <table class="form_table">
            <tr>
                <td class="form_name">@Html.LabelFor(model => model.Admin.Username)</td>
                <td class="form_text">
                    <input asp-for="Admin.Username" />
                </td>
            </tr>
            <tr>
                <td class="form_name">@Html.LabelFor(model => model.Admin.Password)</td>
                <td class="form_text">
                    <input asp-for="Admin.Password" type="password" />
                </td>
            </tr>
            <tr>
                <td class="form_name">@Html.LabelFor(model => model.Admin.Active)</td>
                <td class="form_text">@Html.EditorFor(model => model.Admin.Active)</td>
            </tr>
            <tr>
                <td class="form_name"></td>
                <td class="form_text">
                    <input type="submit" class="btn quick-link" value="Cập nhật" />
                </td>
            </tr>
        </table>
    }
</div>
@await Html.PartialAsync("ListAdmin", Model.Admins)
