@model InfoAdminViewModel

@{
    ViewBag.Title = "Welcome to website";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="top-title">
    <div class="media">
        <p><i class="fal fa-home-lg-alt"></i></p>
        <div class="media-body">
            <h5 class="mt-3">Tổng quan</h5>
        </div>
    </div>
    <div class="btn-group dropdown">
        <button id="btnMailbox" type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="far fa-business-time mr-1"></i> Hòm thư
        </button>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnMailbox">
            <a class="dropdown-item" href="@Url.Action("ListContact","Contact")"><i class="fal fa-envelope mr-1"></i> Hộp thư đến <span>@Model.Contacts</span></a>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-sm-12 col-md-6 col-lg-3 mt-md-5 mt-3">
        <div class="overview-item">
            <div class="icon"><i class="fal fa-user"></i></div>
            <a class="stretched-link" href="@Url.Action("CreateAdmin","Vcms")">Quản trị viên</a>
            <p class="counter">@Model.Admins</p>
            <div class="info">
                <i class="far fa-edit mr-1"></i> Có thể thay đổi thông tin website
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 mt-md-5 mt-3">
        <div class="overview-item">
            <div class="icon icon-article"> <i class="fal fa-newspaper"></i></div>
            <a class="stretched-link" href="@Url.Action("ListArticle","Article")">Tin tức</a>
            <p class="counter">@Model.Articles</p>
            <div class="info">
                <i class="far fa-history mr-1"></i> Tin tức mới nhất
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 mt-md-5 mt-3">
        <div class="overview-item">
            <div class="icon icon-product"><i class="fal fa-box"></i></div>
            <a class="stretched-link" href="@Url.Action("ListProduct","ProductVcms")">Sản phẩm</a>
            <p class="counter">@Model.Products</p>
            <div class="info">
                <i class="fal fa-shopping-cart mr-1"></i> Cập nhật liên tục
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 mt-md-5 mt-3">
        <div class="overview-item">
            <div class="icon icon-order"><i class="fal fa-shopping-basket"></i></div>
            <a class="stretched-link" href="@Url.Action("ListOrder","Order")">Đơn hàng</a>
            <p class="counter">@Model.Orders</p>
            <div class="info">
                <i class="fal fa-history mr-1"></i> Cập nhật liên tục
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 mt-md-5 mt-3">
        <div class="overview-item">
            <div class="icon icon-video"><i class="fa-light fa-users"></i></div>
            <a class="stretched-link" href="@Url.Action("ListMember","MemberVcms")">Thành viên</a>
            <p class="counter">@Model.Members</p>
            <div class="info">
                <i class="fal fa-history mr-1"></i> Cập nhật liên tục
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 mt-md-5 mt-3">
        <div class="overview-item">
            <div class="icon icon-cart"><i class="fal fa-ad mr-1"></i></div>
            <a class="stretched-link" href="@Url.Action("ListBanner","Banner")">Quảng cáo</a>
            <p class="counter">@Model.Banners</p>
            <div class="info">
                <i class="far fa-history mr-1"></i> Cập nhật liên tục
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 mt-md-5 mt-3">
        <div class="overview-item">
            <div class="icon icon-city"><i class="fal fa-mailbox"></i></div>
            <a class="stretched-link" href="@Url.Action("ListContact","Contact")">Liên hệ</a>
            <p class="counter">@Model.Contacts</p>
            <div class="info">
                <i class="far fa-history mr-1"></i> Cập nhật mới nhất
            </div>
        </div>
    </div>
</div>