@model IEnumerable<Admin>

<div class="box_content mt-5">
    <table class="list_table" id="list-admin">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Username)</th>
                <th>@Html.DisplayNameFor(model => model.Active)</th>
                <th></th>
            </tr>
            @foreach (var admin in Model)
            {
                <tr data-id="@admin.Username">
                    <td class="left">@admin.Username</td>
                    <td>@Html.DisplayFor(a => admin.Active)</td>
                    <td class="list-icon">
                        @Html.ActionLink("Sửa", "EditAdmin", new { adminId = admin.Id }) - <a href="javascript:;" class="red-warring" onclick="deleteAdmins('@admin.Username')">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    function deleteAdmins(id) {
        if (confirm("Bạn có chắc chắn xóa quản trị này không?")) {
            $.post("/Vcms/DeleteAdmin", { username: id }, function (data) {
                if (data) {
                    $.toast({
                        text: 'Xóa quản trị viên thành công',
                        position: 'bottom-right',
                        icon: 'success',
                    })
                    $("tr[data-id='" + id + "']").fadeOut();
                } else {
                    $.toast({
                        text: 'Quá trình thực hiện không thành công. Hãy thử lại',
                        icon: 'error',
                    })
                }
            });
        }
    }
</script>