@model OrderViewModel
@{
    var i = 1;
}
<style>
    .avatar-pro {
        width: 130px;
        height: auto;
    }
</style>
<div class="load-order-view shadow-border">
    <div class="box_header">
        <h2>Đơn hàng: @Model.Order.OrderCode - [@Model.Order.Status.GetDisplayName()]</h2>
    </div>
    <table class="list_table tablecenter table order-view">
        <tr>
            <th>STT</th>
            <th>Hình ảnh</th>
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>
            <th>Giá</th>
            <th>Thành tiền</th>
        </tr>
        @foreach (var detail in Model.Order.OrderDetails)
        {
            var sotien = detail.Quantity * detail.UnitPrice;

            <tr>
                <td>1</td>
                <td class="left">
                    <a asp-controller="Home" asp-action="ProductDetails" asp-route-url="@detail.Product.Url">
                        <img class="img-fluid" src="@PathSystem.Combine("/contents/products", detail.Product.Avatar)" style="width: 80px; aspect-ratio: 1; object-fit: cover;" />
                    </a>
                </td>
                <td class="left">
                    @(detail.Product.Name)
                    @if (detail.Sku != null)
                    {
                        <small><i>(@detail.Sku.SKU)</i></small>
                    }
                </td>
                <td class="left">
                    @detail.Quantity
                </td>
                <td>@Html.DisplayFor(a => detail.UnitPrice) VNĐ</td>
                <td>@Convert.ToDecimal(sotien).ToString("N0") VNĐ</td>
            </tr>
            i++;
        }
        <tr>
            <td colspan="5">Ship:</td>
            <td>@Html.DisplayFor(a => Model.Order.ShipFee)</td>
        </tr>
        <tr>
            <td colspan="5">Tổng tiền:</td>
            <td>@Html.DisplayFor(a => Model.Order.TotalFee)</td>
        </tr>
    </table>
    <div class="box_header">
        <h2>Thông tin khách hàng</h2>
    </div>
    <div style="overflow: hidden">
        <table class="form_table table order-view">
            <tr>
                <td>Ngày đặt hàng</td>
                <td>@Model.Order.CreateDate.ToString("dd/MM/yyyy HH:mm")</td>
            </tr>
            <tr>
                <td>Họ và tên</td>
                <td>@Model.Order.Customer.FullName</td>
            </tr>
            <tr>
                <td>Điện thoại</td>
                <td>@Model.Order.Customer.PhoneNumber</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@Model.Order.Customer.Email</td>
            </tr>
            <tr>
                <td>Địa chỉ</td>
                <td>@Model.Order.Address, @Model.Order.Ward?.Name, @Model.Order.District?.Name, @Model.Order.City?.Name</td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold">Yêu cầu thêm</td>
            </tr>
            <tr>
                <td class="text-left" colspan="2">@Model.Order.Customer.Note</td>
            </tr>
        </table>
    </div>
    <div class="box_header">
        <h2>Thanh toán</h2>
    </div>
    <div class="box_content mt-0">
        <p class="mb-1">Hình thức thanh toán: <strong>@Model.Order.PaymentType.GetDisplayName()</strong></p>
    </div>
</div>