@model FilterBarViewModel

<div class="filterbar">
    <h2>Lọc sản phẩm</h2>
    <div class="accordion" id="accordionExample">
        @foreach (var item in Model.ProductCategories)
        {
            <div class="card">
                <div class="card-header" id="heading@(item.Id)">
                    <h3 class="mb-0">
                        <a asp-controller="Home" asp-action="ListProduct" asp-route-url="@item.Url">
                            @item.Title
                        </a>
                        @if (item.CategoryChildren.Any())
                        {
                            <button class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#collapse@(item.Id)" aria-controls="collapse@(item.Id)">
                                <i class="fa-sharp fa-solid fa-caret-down"></i>
                            </button>
                        }
                    </h3>
                </div>

                <div id="collapse@(item.Id)" class="card-body collapse" aria-labelledby="heading@(item.Id)" data-parent="#accordionExample">
                    <ul>
                        @foreach (var chil in item.CategoryChildren)
                        {
                            <li>
                                <a asp-controller="Home" asp-action="ListProduct" asp-route-url="@chil.Url">@chil.Title</a>
                            </li>

                            @foreach (var cc in chil.CategoryChildren)
                            {
                                <li>
                                    <a asp-controller="Home" asp-action="ListProduct" asp-route-url="@cc.Url">- @cc.Title</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
</div>