@model BannerViewModel
@{
    ViewBag.Title = "Thêm banner";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .form_name {
        width: 150px;
    }
</style>
<div class="box_header">
    <h2>@ViewBag.Title</h2>
    <div class="list-group list-group-horizontal">
        <a class="btn quick-link mr-2" asp-action="ListBanner"><i class="fa-solid fa-list mr-2"></i>Danh sách banner</a>
    </div>
</div>
<div class="box_content px-300">
    @using (Html.BeginForm("Banner", "Banner", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        <table class="form_table">
            <tr>
                <td class="form_name">@Html.LabelFor(model => model.Banner.GroupId)</td>
                <td class="form_text">
                    @Html.DropDownListFor(model => model.Banner.GroupId, Model.SelectGroup, "Chọn vị trí banner", new { @class = "form_control w300" })
                    @Html.ValidationMessageFor(model => model.Banner.GroupId)
                </td>
            </tr>
            <tr>
                <td class="form_name">@Html.LabelFor(model => model.Banner.Name)</td>
                <td class="form_text">@Html.EditorFor(model => model.Banner.Name)</td>
            </tr>
            <tr>
                <td class="form_name">@Html.LabelFor(model => model.Banner.Slogan)</td>
                <td class="form_text">@Html.EditorFor(model => model.Banner.Slogan)</td>
            </tr>
            <tr>
                <td class="form_name">
                    <label asp-for="Banner.Image"></label>
                </td>
                <td class="form_text">
                    <div class="alert alert-info">
                        <button type="button" class="btn btn-primary" onclick="selectMultipleFileWithCKFinder()">Chọn ảnh từ CKFinder</button>
                    </div>
                    <div id="progress" class="progress" style="display:none;">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="form_name"></td>
                <td class="form_text">
                    <ul id="ListImages"></ul>
                </td>
            </tr>
            <tr class="d-none">
                <td class="form_name">@Html.LabelFor(model => model.Banner.Content)</td>
                <td class="form_text">@Html.EditorFor(model => model.Banner.Content)</td>
            </tr>
            <tr>
                <td class="form_name">@Html.LabelFor(model => model.Banner.Url)</td>
                <td class="form_text">@Html.EditorFor(model => model.Banner.Url)</td>
            </tr>
            <tr>
                <td class="form_name">@Html.LabelFor(model => model.Banner.Sort)</td>
                <td class="form_text">@Html.EditorFor(model => model.Banner.Sort)</td>
            </tr>
            <tr>
                <td class="form_name">@Html.LabelFor(model => model.Banner.Active)</td>
                <td class="form_text">@Html.CheckBoxFor(model => model.Banner.Active, new { @checked = "checked" })</td>
            </tr>
            <tr>
                <td class="form_name"></td>
                <td class="form_text">
                    <input type="submit" class="btn quick-link" value="Thêm mới" />
                </td>
            </tr>
        </table>
    }
</div>

@section scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        var i = 1;
        function selectMultipleFileWithCKFinder() {
            CKFinder.popup({
                chooseFiles: true,
                chooseMultiple: true,
                width: 800,
                height: 600,
                onInit: function (finder) {
                    finder.on('files:choose', function (evt) {
                        evt.data.files.forEach(function (file) {
                            /*var file = evt.data.files.first();*/
                            var fileUrl = file.getUrl();

                            // Validate file type and size (Note: CKFinder does not provide file size, so size validation is skipped)
                            var uploadErrors = [];
                            var acceptFileTypes = /\.(gif|jpe?g|png)$/i;
                            if (!acceptFileTypes.test(fileUrl)) {
                                uploadErrors.push("Chỉ chấp nhận định dạng jpeg, jpg, png, gif");
                            }

                            var totalImg = $("#ListImages .thumb-img-box").length;
                            if (totalImg > 0) {
                                uploadErrors.push("Chỉ đăng tối đa 1 ảnh");
                            }
                            if (uploadErrors.length > 0) {
                                alert(uploadErrors.join("\n"));
                                return false;
                            }
                            // Append image to list
                            $('#ListImages').append(
                                '<li class="thumb-img-box">' +
                                '<input type="hidden" name="Image" value ="' + fileUrl + '" />' +
                                '<img src="' + fileUrl + '" alt="Image"/>' +
                                '<a href="javascript:;" id="' + i + '" onclick="delfile(' + i + ')">' +
                                '<i class="fa-solid fa-xmark" style="vertical-align:middle"></i>' +
                                '</a>' +
                                '</li>'
                            );
                            i++;
                        })
                    });

                }
            });
        }

        function delfile(divid) {
            if (confirm('Bạn có chắc xóa ảnh này?')) {
                $('#' + divid).parent().fadeOut().remove();
            }
        }
    </script>
}