@model ListBannerViewModel

@{
    ViewBag.Title = "Danh sách banner";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="box_header">
    <h2>@ViewBag.Title</h2>
    <div class="list-group list-group-horizontal">
        <a class="btn quick-link mr-2" asp-action="Banner"><i class="fa-solid fa-pen mr-2"></i>Thêm mới</a>
    </div>
</div>
<div class="box_content">
    <p class="w-25 d-flex align-items-center"><span class="d-block pb-2 w-50">Vị trí quảng cáo</span> @Html.DropDownListFor(model => model.GroupId, Model.SelectGroup, "Tất cả vị trí", new { @class = "form_control w300", onchange = "window.location.href='/Banner/ListBanner?groupId='+this.value" })</p>
    <table class="list_table tablecenter table-striped">
        <tr>
            <th style="width: 50px">STT</th>
            <th style="width: 150px">Hình ảnh</th>
            <th>Tên quảng cáo</th>
            <th>Hoạt động</th>
            <th style="width: 80px"></th>
        </tr>
        @foreach (var banner in Model.Banners)
        {
            <tr data-id="@banner.Id">
                <td style="width: 100px;">
                    <input type="number" name="Sort" value="@banner.Sort" class="form_control w100"/>
                </td>
                <td>
                    @if (banner.Image != null)
                    {
                        <img class="img-border" src="@banner.Image" style="aspect-ratio: 1; object-fit: cover;" />
                    }
                    else
                    {
                        @:NO PICTURE
                    }
                </td>
                <td>
                    <strong>@banner.Name</strong><br /><br />
                    @banner.Slogan
                </td>
                <td>@Html.EditorFor(a => banner.Active, new { htmlAttributes = new { id = "Active" } })</td>
                <td style="width: 160px;">
                    <a href="javascript:;" onclick="updateBanner('@banner.Id')">Cập nhật - </a>
                    @Html.ActionLink("Sửa", "EditBanner", new { bannerId = banner.Id }) 
                    @if (User.IsInRole("Admin"))
                    {
                        @:- <a href="javascript:;" onclick="deleteBanner('@banner.Id')">Xóa</a>
                    }
                </td>
            </tr>
        }
        @if(Model.Banners.PageCount > 1)
        {
            <tr>
                <td colspan="8">
                    @Html.PagedListPager(Model.Banners, page => Url.Action("ListBanner", new { page, groupId = Model.GroupId }))
                </td>
            </tr>
        }
    </table>
</div>

@section Scripts
    {
    <script type="text/javascript">
        function deleteBanner(id) {
            if (confirm("Bạn có chắc chắn xóa banner này không?")) {
                $.post("/Banner/DeleteBanner", { bannerId: id }, function (data) {
                    if (data) {
                        $.toast({
                            text: 'Xóa banner thành công',
                            position: 'bottom-right',
                            icon: 'success',
                        })
                        $("tr[data-id='" + id + "']").fadeOut();
                    } else {
                        $.toast({
                            text: 'Quá trình thực hiện không thành công. Hãy thử lại',
                            icon: 'error',
                        })
                    }
                });
            }
        }

        function updateBanner(id) {
            var divId = $("tr[data-id='" + id + "']");
            var sort = divId.find("input[name=Sort]").val();
            var active = divId.find("input#Active").prop("checked");

            if (sort == "") {
                alert("Bạn hãy nhập số thứ tự");
            }

            $.post("/Banner/UpdateBannerQuick", { bannerId: id, sort, active }, function (data) {
                if (data) {
                    $.toast({
                        text: 'Cập nhật thành công',
                        position: 'bottom-right',
                        icon: 'success',
                    })
                } else {
                    $.toast({
                        text: 'Quá trình thực hiện không thành công. Hãy thử lại',
                        icon: 'error',
                    })
                }
            });
        }
    </script>
}