@model MemberComponentViewModel

@functions {
    public string Active(string? url)
    {
        string currentPath = Context.Request.Path;
        return currentPath.Equals(url, StringComparison.OrdinalIgnoreCase) ? "active" : "";
    }
}

<div class="avatar-upload mb-4">
    <div class="avatar-edit">
        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
        <label for="imageUpload"></label>
    </div>
    <div class="avatar-preview">
        <div id="imagePreview" style="background-image: url('@(!string.IsNullOrEmpty(Model.Member.Image) ? Url.Content("/contents/members/" + Model.Member.Image) : Url.Content("~/images/no-image.jpg"))');">
        </div>
    </div>
</div>
<h2 class="member-name mb-4">@Model.Member.FullName</h2>
<ul class="member-numbers mb-4">
    <li>
        <span class="name">Địa chỉ</span>
        <span class="value">@Model.Addresses</span>
    </li>
    <li>
        <span class="name">Đơn hàng</span>
        <span class="value">@Model.Orders</span>
    </li>
    <li>
        <span class="name">Tổng tiền</span>
        <span class="value">@Html.DisplayFor(m => m.Total)</span>
    </li>
</ul>
<ul class="member-menu mt-4 mb-5">
    <li>
        <a asp-controller="Member" asp-action="Index" class="@Active(Url.Action("Index", "Member"))">
            <i class="fa-regular fa-address-card"></i>Tài khoản
        </a>
    </li>
    <li>
        <a asp-controller="Member" asp-action="ChangePassword" class="@Active(Url.Action("ChangePassword", "Member"))">
            <i class="fa-regular fa-key"></i>Đổi mật khẩu
        </a>
    </li>
    <li>
        <a asp-controller="Member" asp-action="ListOrder" class="@Active(Url.Action("ListOrder", "Member"))">
            <i class="fa-regular fa-box"></i>Đơn hàng
        </a>
    </li>
    <li>
        <a asp-controller="Member" asp-action="ListAddress" class="@Active(Url.Action("ListAddress", "Member"))">
            <i class="fa-regular fa-map-location"></i>Địa chỉ
        </a>
    </li>
</ul>
